<form class='contact-form'>
  <div class='form-group'>
    <label for={{this.user.name}}>Name</label>
    <Input
      class='form-control'
      @type='text'
      @value={{this.user.name}}
      name='Name'
      placeholder='Enter your name here'
      required
    />
  </div>
  <div class='form-group'>
    <label for={{this.user.email}}>Email</label>
    <Input
      class='form-control'
      @type='email'
      @value={{this.user.email}}
      name='Email'
      id='Email-input'
      placeholder='Enter your email here'
      required
    />
  </div>
  <div class='form-group'>

    <label for='Massage-input'>Massage</label>
    <Textarea
      @value={{this.user.massage}}
      name='Massage'
      id='Massage-input'
      cols='30'
      rows='10'
      placeholder='Enter your massage here'
      required
    />
  </div>
  <button
    class='submit-btn'
    type='button'
    {{on 'click' this.submitContact}}
  >Send</button>

</form>