<div
  class={{concat 'service-container services-animi-up-' @service.animation}}
  {{remove-class}}
>
  <Service::Image
    class='services-img'
    src={{@service.image}}
    alt={{@service.ServiceName}}
  />
  <h2>{{@service.ServiceName}}</h2>
  <p>{{@service.content}}</p>
  <LinkTo class='view-btn' @route='services.service' @model={{@service.link}}>
    View Details
  </LinkTo>
</div>